@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

body{
    background-color: hsl(217, 54%, 11%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

section{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 19%;
    height: 65%;
    background-color: hsl(216, 50%, 16%);
    border-radius: 10px;
}


.imgEquilibrium{
    width: 87%;
    height: 53%;
    border-radius: 6px;
    align-self: center;
    padding: 0.2rem 0 0 0;
    position: static;
    z-index: 0;
}





.ethereum{
    display: flex;
    justify-content: space-between;
    padding: 0 1.2rem 0 1.2rem;

}

.innEthereum{
    display: flex;
    gap: 0.25rem;
}

h1{
    color: white;
    font-size: 1.1rem;
    padding: 0 0 0 1.2rem;
}

.equilibrium{
    color: #7E93B2;
    font-size: 0.9rem;
    padding: 0 0 0 1.2rem;
}

.iconEthereum{
    width: 8.5px;
}

.spanBlue{
    color: hsl(215, 51%, 70%);
    font-size: 0.8rem;
    font-weight: bolder;
}

.iconClock{
    width: 13px;
}

.spanNotBlue{
    color: #7E93B2;
    font-size: 0.8rem;
    padding: 0 0.17rem 0 0;
}

hr{
    width: 85%;
    align-self: center;
    height: 1px;
    background-color: hsl(215, 32%, 27%);
    border: none;
}

.avatar{
    display: flex;
    align-items: center;
    gap: 0.9rem;
    padding-left: 1.2rem;
}

.creation{
    color: #7E93B2;
    font-size: 0.8rem;
    
}

strong{
    color: white;
    font-weight: lighter;
}

.imgAvatar{
    width: 10%;
    border: 1px solid white;
    border-radius: 50%;
    
}

strong:hover{
    color: #7E93B2;
    cursor: pointer;
}

/* .imgEquilibrium:hover{
    cursor: pointer;
    background-image: url(images/icon-view.svg);
    background-repeat: no-repeat;
    background-size: 35px;
    background-position: 50% 50%;
    background-color: #7e93b215;
} */
